:root {    
  --dark-blue: hsl(229, 71%, 33%);
  --medium-blue: hsl(201, 72%, 30%);
  --medium-blue-shadow: hsla(201, 72%, 30%, 0.3);
  --light-blue: hsl(206, 75%, 42%);
  --orange: hsl(22, 88%, 58%);
  --dark-orange: hsl(22, 95%, 40%);
  --green: hsl(79, 48%, 47%);
  --dark-gray: hsl(0, 0%, 30%);
  --light-gray: hsl(0, 0%, 60%);
  --table-border-color: var(--light-gray);
  --background: hsl(32, 100%, 97%); 
}

// temporary to choose different color for links on home/updated materials
.color1 {
  color: hsl(201, 85%, 20%);
}
.color2 {
  color: hsl(201, 72%, 15%);
}
.color3 {
  color: var(--medium-blue);
    text-shadow:
   -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}
//end temp section

.dark-blue { background-color: var(--dark-blue); }
.medium-blue { background-color: var(--medium-blue); }
.light-blue { background-color: var(--light-blue); }

body {
  margin: 0 auto;
  padding: 25px 0px 0px 0px;
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 25px; 
  grid-area: header;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-areas:
    "cjtf_logo search logos"
    "cjtf_logo . ."
    "nav nav nav";

  .search {
    justify-self: center;
  }
  .logos {
    justify-self: end;
  }
}

nav {
  grid-area: nav;
  padding-bottom: 5px; 

  /* this hides the buttons that close and open the menu in responsive mode */
  button {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  
    li {
      display: inline;
      padding-right: 10px;
      font-size: 1.3rem;
      position: relative;
      padding-bottom: 1rem;

      &:hover > ul {
        visibility: visible;
        opacity: .9;
        display: block;
      }
    
      ul {
        background-color: #FFF8F0;
        visibility: hidden;
        min-width: 15rem;
        position: absolute;
        padding: 1rem .5rem .5rem .5rem;
        left: 0;
        display: none;
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--medium-blue);
    
    &:hover {
      color: var(--orange);
    }
  
    &.active { 
      color: var(--orange);
    
      &:hover {
        color: var(--medium-blue);
      }
    }
  }
} 

main {
  grid-area: main;
  color: white;

  a {
    text-decoration: none;
    color: var(--orange);

    &:hover {
      color: white;
    }
  }

  &.home {
    background-color: transparent;    
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "mission mission"
      "col1 col2";

    a {
      text-decoration: none;
      color: var(--light-blue);
    }
    .col1 { 
      background-color: var(--orange);
      font-size: 18px;
      
      ul {
        margin-bottom: 2rem;
      }
    }
    .col2 {
      background-color: var(--green);
    }
  }
  
  &.default {
    background-color: var(--medium-blue);
    box-shadow: 0px -5px 25px 25px var(--medium-blue-shadow);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "col1 col2";
    padding-bottom: 20px;
  }

  .mission {
    padding: 20px 20px 10px 80px;
    padding-left: 80px;
    grid-area: mission;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    background: linear-gradient(90deg, var(--medium-blue), 45%, var(--background));
    
    .staccato {
      word-spacing: .4rem;
    }
  }
    
  .col1 {
    grid-area: col1;
    padding: 0 20px 10px 80px;
  }
  
  .col2 {
    grid-area: col2;
    padding: 0 20px 10px 80px;
  }
  
  .full {
    grid-area: span 1 / span 2;
    padding: 0 20px 10px 80px;
  }
}

footer {
  display: none;
}

hr {
  margin-bottom: 10px;
  border: 1px solid white;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 12px;
  border-bottom: 1px solid white;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

table {
  border: 2px solid var(--table-border-color);
  border-collapse: collapse;
  margin: 0 auto; 
  align: left;

  th {
    text-align: left;
    background-color: var(--light-blue);
  }
  
  tr {
    border-bottom: 1px solid var(--table-border-color);
  }

  th, td {
    padding: 10px;
  }
}

.bold { font-weight: bold; }
.italic { font-style: italic; }
.center { text-align: center; }

.download:after {
  content: "\2193";
  padding-left: 1px;
  color: hsl(0, 0%, 85%);
}

.past_meetings {
  border-collapse: collapse;
  border: none;

  tr {
    border-bottom:  1px solid gray;
  
    &:last-child {
      border-bottom: none;
    }
  }
}

.events {
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
}

.event {
  min-width: 200px;
  background-color: hsla(0, 0%, 90%, 0.8);
  padding: 20px;
  color: var(--dark-gray);
  
  p:last-of-type {
    margin-bottom: 0px;
  }
}

.event_title {
  margin-top: 0px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dark-orange);
  
  a { color: var(--dark-orange) }
}

/* Responsive layout */
@media screen and (max-width: 768px) { 
  // change header grid to just two columns
  body {
    padding: 0px;
    margin: 0px;
    grid-template-columns: auto auto;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
  }
  
  header {
    margin-left: 20px;
    margin-right: 20px;
    grid-area: header;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    grid-template-areas:
        "search nav"
        "logo logo";

    .cjtf_logo {
      grid-area: logo;
    }
    .search {
      grid-area: search;
      justify-self: start;
      padding-top: 8px;
      padding-bottom: 20px;
    }
    
    // hide the DVPRC and NJTPA logs at the top
    .logos {
      display: none;
    }
  }
  
  nav {
    grid-area: nav;
    justify-self: end;
    padding-top: 0;
    
    .opener, .closer {
      display: block;
      border: none;
      font-size: 2rem;
      background: transparent;
      padding-right: 0px;
    }

    ul {
      display: grid;  
      justify-items: end;
      position: fixed;
      right: -2px;
      top: 0;
      width: 0;
      height: 100vh;
      overflow-x: hidden;
      line-height: 1.3;
      font-size: 1rem;
      transition: all 400ms;
      padding-bottom: 5px;
      padding-top: 8px;
      white-space: nowrap;
      background-color: var(--medium-blue);
      border: 1px solid var(--dark-gray);
        
      &.show {
        width: 225px;
      }
      
      li {
        margin-right: 15px;
        margin-left: 5px;
        
        // hide the submenu for resources
        &:hover > ul {
          display: none;
        }

        ul {
          display: hidden;
        }
      }
      
      a {
        text-decoration: none;
        color: white;
        
        &:hover {
          color: var(--orange);
        }
        &.active:hover { 
          color: white;
        }
      }
    } 
  }

  // make the two columns stack on top of each other instead of next to each other
  main { 
    &.home {
      grid-template-columns: 1fr;
      grid-template-areas:
        "mission"
        "col1"
        "col2";
    }
     
    &.default {
      grid-template-columns: 1fr;
      grid-template-areas:
        "col1"
        "col2";
    }
    
    .col1, .col2, .full {
      padding: 0 20px 10px 20px;
    }
    .mission {
      margin-left: 0px;
      margin-right: 0px;
      padding: 20px;
    }
  }
  
  footer {
    display: block;
    grid-area: footer;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
  }
  
  .past_meetings {
    font-size: .8rem;
  }
  
  .responsive_table {
    // make the table tds stack in column rather than row
    td {
      display: block;
    }
    
    // add border at the top (needed for Chrome, which isn't putting overall top border on table)
    tr:nth-child(2) {
      border-top: 2px solid var(--table-border-color);
    }

    // add some space above each record
    td:first-child {
      padding-top: 15px;
    }
    
    // hide th; put data-th in each td
    th {
      display: none;
    }
    td:before {
      content: attr(data-th) ": ";
      display:inline;
      font-weight:bold;
    }
  }
}
