:root {    
  --dark_blue: #193091;
  //--medium_blue: hsl(204, 75%, 35%);
  --medium_blue: hsl(201, 72%, 30%);
  --medium_blue_shadow: hsla(201, 72%, 30%, 0.3);
  --light_blue: #1b75bc;
  --orange: #f27b38;
  --light_green: #8db23f;
  --dark_gray: hsl(0, 0%, 30%);
  --light_gray: hsl(0, 0%, 60%);
  --table_border_color: var(--light_gray);
  --background_color: #FFF8F0; 
}

.dark_blue { background-color: var(--dark_blue); }
.medium_blue { background-color: var(--medium_blue); }
.light_blue { background-color: var(--light_blue); }

body {
  margin: 0 auto;
  padding: 25px 0px 0px 0px;
  background-color: var(--background_color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 25px; 
  grid-area: header;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-areas:
    "cjtf_logo search logos"
    "cjtf_logo . ."
    "nav nav nav";
    /*"breadcrumbs breadcrumbs breadcrumbs";*/

  .search {
    justify-self: center;
  }
  .logos {
    justify-self: end;
  }
}

nav {
  grid-area: nav;
  padding-bottom: 5px; 

  /* this hides the buttons that close and open the menu in responsive mode */
  button {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  
    li {
      display: inline;
      padding-right: 10px;
      font-size: 1.3rem;
      position: relative;
      padding-bottom: 1rem;

      &:hover > ul {
        visibility: visible;
        opacity: .9;
        display: block;
      }
    
      ul {
        background-color: #FFF8F0;
        visibility: hidden;
        min-width: 13rem;
        position: absolute;
        padding: 1rem .5rem .5rem .5rem;
        left: 0;
        display: none;
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--medium_blue);
    
    &:hover {
      color: var(--orange);
    }
  
    &.active { 
      color: var(--orange);
    
      &:hover {
        color: var(--medium_blue);
      }
    }
  }
} 

#breadcrumbs {
  grid-area: breadcrumbs;
  background-color: var(--medium_blue);
  padding: 5px;
  box-shadow: 5px 5px 8px gray;
  color: white;
  /*margin-bottom: 20px;*/
 
  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: var(--orange);
    }
  }
}

main {
  grid-area: main;
  color: white;

  a {
    text-decoration: none;
    color: var(--orange);

    &:hover {
      color: white;
    }
  }

  &.home {
    background-color: transparent;    
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "mission mission"
      "col1 col2";
    margin-bottom: 20px;

    a {
      text-decoration: none;
      color: var(--medium_blue);
    }
    .col1 { 
      background-color: var(--orange);
      p {
        font-weight: bold;
      }
      ul {
        margin-bottom: 2rem;
      }
    }
    .col2 {
      background-color: var(--light_green);
      padding: 0 20px 10px 80px;
    }
  }
  
  &.default {
    background-color: var(--medium_blue);
    box-shadow: 0px -5px 25px 25px var(--medium_blue_shadow);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "col1 col2";
  }

  // &.full {
  //   //padding: 5px 10px;
  //   padding: 20px 20px 10px 80px;
  //   background-color: var(--orange);
  // 
  //   .content {
  //     //max-width: 550px;
  //     //margin: 0 auto;
  //   }
  // }

  .mission {
    padding: 20px 20px 10px 80px;
    padding-left: 80px;
    grid-area: mission;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    background: linear-gradient(90deg, var(--medium_blue), 45%, var(--background_color));
    
    .staccato {
      word-spacing: .4rem;
    }
  }
    
  .col1 {
    grid-area: col1;
    padding: 0 20px 10px 80px;
  }
  
  .col2 {
    grid-area: col2;
    padding: 0 20px 10px 20px;
  }
}

footer {
  display: none;
}

hr {
  margin-bottom: 10px;
  border: 1px solid white;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 12px;
  border-bottom: 1px solid white;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

table {
  border: 2px solid var(--table_border_color);
  border-collapse: collapse;
  margin: 0 auto; 

  th {
    text-align: left;
    //border-bottom: 2px solid var(--table_border_color);
    background-color: var(--light_blue);
  }

  tr {
    border-bottom: 1px solid var(--table_border_color);
  }

  th, td {
    padding: 10px;
  }
}

.bold { font-weight: bold; }
.italic { font-style: italic; }
.center { text-align: center; }

.download:after {
  content: "\2B73";
  padding-left: 2px;
  color: white;
}

.past_meetings {
  border-collapse: collapse;
  //overflow-x: auto;
  border: none;

  tr {
    border-bottom:  1px solid gray;
  
    &:last-child {
      border-bottom: none;
    }
  }
}

/* Responsive layout */
@media screen and (max-width: 768px) { 
  // change header grid to just two columns
  body {
    padding: 0px;
    margin: 0px;
    grid-template-columns: auto auto;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
  }
  
  header {
    margin-left: 20px;
    margin-right: 20px;
    grid-area: header;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    grid-template-areas:
        "search nav"
        "logo logo";

    .cjtf_logo {
      grid-area: logo;
    }
    .search {
      grid-area: search;
      justify-self: start;
      padding-top: 8px;
      padding-bottom: 20px;
    }
    
    // hide the DVPRC and NJTPA logs at the top
    .logos {
      display: none;
    }
  }
  
  nav {
    grid-area: nav;
    justify-self: end;
    padding-top: 0;
    
    .opener, .closer {
      display: block;
      border: none;
      font-size: 2rem;
      background: transparent;
      padding-right: 0px;
    }

    ul {
      display: grid;  
      justify-items: end;
      position: fixed;
      right: -2px;
      top: 0;
      width: 0;
      height: 100vh;
      overflow-x: hidden;
      line-height: 1.3;
      font-size: 1rem;
      transition: all 400ms;
      padding-bottom: 5px;
      padding-top: 8px;
      white-space: nowrap;
      background-color: var(--medium_blue);
      border: 1px solid var(--dark_gray);
        
      &.show {
        width: 225px;
      }
      
      li {
        margin-right: 15px;
        margin-left: 5px;
        
        // hide the submenu for resources
        &:hover > ul {
          display: none;
        }

        ul {
          display: hidden;
        }
      }
      
      a {
        text-decoration: none;
        color: white;
        
        &:hover {
          color: var(--orange);
        }
      }
    } 
  }

  #breadcrumbs {
    display: none;
  }

  // make the two columns stack on top of each other instead of next to each other
  main { 
    &.home {
      grid-template-columns: 1fr;
      grid-template-areas:
        "mission"
        "col1"
        "col2";
    }
     
    &.default {
      grid-template-columns: 1fr;
      grid-template-areas:
        "col1"
        "col2";
    }
    
    .col1, .col2 {
      padding: 0 20px 10px 20px;
    } 
    .col2 {
      border-top: 3px solid var(--background_color);
    }
    .mission {
      margin-left: 0px;
      margin-right: 0px;
      padding: 20px;
    }
  }
  
  footer {
    display: block;
    grid-area: footer;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
  }

  /* an alternative way to go for a responsive table, instead of using a horizontal scroll bar */
  // make the table tds stack, remove the heading
  .responsive_table {
    //margin:0px auto;
    // width:500px;
  }
  
  .responsive_table th {
    display: none;
  }
  
  .responsive_table td {
    display: block;
  }
  
  // .responsive_table td:first-child { border: none; }
  .responsive_table td { border: none; }
  // .responsive_table td:child { border: none; }
  
  .responsive_table td:first-child {
    padding-top: .5em;
  }
  
  .responsive_table td:last-child {
    padding-bottom: .5em;
    border-bottom: 1px solid var(--table_border_color);
  }
  .responsive_table td:before {
    content: attr(data-th) ": ";
    display:block;
    font-weight:bold;
  }
}

