@dark_blue: #193091;
@medium_blue: #16669b;
@light_blue: #1b75bc;
@orange: #f27b38;
@light_green: #8db23f;
@dark_gray: #474747;

@table_border_color: @dark_blue;

body {
  margin: 0 auto;
  padding: 25px 50px 25px 50px;
  max-width: 1100px;
  background-color: #FFF8F0; 
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-areas:
    "cjtf_logo search logos"
    "cjtf_logo . ."
    "nav nav nav"
    "breadcrumbs breadcrumbs breadcrumbs";

  .search {
    justify-self: center;
  }
  .logos {
    justify-self: end;
  }
}

nav {
  grid-area: nav;
  padding-bottom: 5px; 

  /* this hides the buttons that close and open the menu in responsive mode */
  button {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  
    li {
      display: inline;
      padding-right: 10px;
      font-size: 1.3rem;
      position: relative;
      padding-bottom: 1rem;

      &:hover > ul {
        visibility: visible;
        opacity: .9;
        display: block;
      }
    
      ul {
        background-color: #FFF8F0;
        visibility: hidden;
        min-width: 13rem;
        position: absolute;
        padding: 1rem .5rem .5rem .5rem;
        left: 0;
        display: none;
      }
    }
  }

  a {
    text-decoration: none;
    color: @dark_gray;
    
    &:hover {
      color: @medium_blue;
    }
  }
} 

#breadcrumbs {
  grid-area: breadcrumbs;
  background-color: @medium_blue;
  padding: 5px;
  box-shadow: 5px 5px 8px gray;
  color: white;
 
  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: @orange;
    }
  }
}

main {
  grid-area: main;
  color: white;

  a {
    text-decoration: none;
    color: @medium_blue;

    &:hover {
      color: white;
    }
  }

  &.home {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "mission mission"
      "col1 col2";
  }
  
  &.default {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "col1 col2"
  }

  &.full {
    padding: 5px 10px;
    background-color: @orange;
  
    .content {
      max-width: 550px;
      margin: 0 auto;
    }
  }

  .mission {
    grid-area: mission;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    padding: 10px;
    margin-bottom: -20px;
  
    .staccato {
      word-spacing: .4rem;
    }
  }
    
  .col1 {
    grid-area: col1;
    padding: 0 10px 10px 10px;
    background-color: @orange;
  }
  
  .col2 {
    grid-area: col2;
    padding: 0 10px 10px 10px;
    background-color: @light_green;
  }
}

footer {
  grid-area: footer;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

hr {
  margin-bottom: 10px;
  border: 1px solid white;
}

h1 {
  font-size: 2rem;
  margin-bottom: 12px;
  text-align: center;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 12px;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 12px;
  text-align: center;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

table {
  border: 2px solid @table_border_color;
  border-collapse: collapse;
  margin: 0 auto; 

  th {
    text-align: left;
    border-bottom: 2px solid @dark_blue;
    background-color: @light_blue;
  }

  tr {
    border-bottom: 1px solid @table_border_color;
  }

  th, td {
    padding: 10px;
  }
}

.shadow {
  box-shadow: 5px 5px 8px gray;
}

.bold { font-weight: bold; }
.italic { font-style: italic; }
.center { text-align: center; }

.dark_blue { background-color: @dark_blue; }
.medium_blue { background-color: @medium_blue; }
.light_blue { background-color: @light_blue; }

.download:after {
  content: "\2B73";
  padding-left: 2px;
  color: white;
}


.past_meetings {
  border-collapse: collapse;
  overflow-x: auto;
  border: none;

  tr {
    border-bottom:  1px solid gray;
  
    &:last-child {
      border-bottom: none;
    }
  }
}

/* Responsive layout */
@media screen and (max-width: 768px) { 
  // change header grid to just two columns
  body {
    padding: 10px 20px 10px 20px;
    grid-template-columns: auto auto;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
  }
  
  header {
    grid-area: header;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    grid-template-areas:
        "search nav"
        "logo logo";

    .cjtf_logo {
      grid-area: logo;
    }
    .search {
      grid-area: search;
      justify-self: start;
      padding-top: 8px;
      padding-bottom: 20px;
    }
    
    // hide the DVPRC and NJTPA logs at the top
    .logos {
      display: none;
    }
  }
  
  nav {
    grid-area: nav;
    justify-self: end;
    padding-top: 0;
    
    .opener, .closer {
      display: block;
      border: none;
      font-size: 2rem;
      background: transparent;
    }

    ul {
      display: grid;  
      justify-items: end;
      position: fixed;
      right: -2px;
      top: 0;
      width: 0;
      height: 100vh;
      overflow-x: hidden;
      line-height: 1.3;
      font-size: 1rem;
      transition: all 400ms;
      padding-bottom: 5px;
      padding-top: 8px;
      white-space: nowrap;
      background-color: @medium_blue;
      border: 1px solid @dark_gray;
        
      &.show {
        width: 225px;
      }
      
      li {
        margin-right: 15px;
        margin-left: 5px;
        
        // hide the submenu for resources
        &:hover > ul {
          display: none;
        }

        ul {
          display: hidden;
        }
      }
      
      a {
        text-decoration: none;
        color: white;
        
        &:hover {
          color: @orange;
        }
      }
    } 
  }

  #breadcrumbs {
    display: none;
  }

  // make the two columns stack on top of each other instead of next to each other
  main { 
    &.home {
      grid-template-columns: 1fr;
      grid-template-areas:
        "mission"
        "col1"
        "col2";
    }
    
    &.default {
      grid-template-columns: 1fr;
      grid-template-areas:
        "col1"
        "col2";
    }
  } 

  // remove extra spacing
  .mission {
    margin-bottom: 0;
  }

  /* an alternative way to go for a responsive table, instead of using a horizontal scroll bar */
  // make the table tds stack, remove the heading
  .responsive_table {
    margin:0px auto;
    // width:500px;
  }
  
  .responsive_table th {
    display: none;
  }
  
  .responsive_table td {
    display: block;
  }
  
  // .responsive_table td:first-child { border: none; }
  .responsive_table td { border: none; }
  // .responsive_table td:child { border: none; }
  
  .responsive_table td:first-child {
    padding-top: .5em;
  }
  
  .responsive_table td:last-child {
    padding-bottom: .5em;
    border-bottom: 1px solid @table_border_color;
  }
  .responsive_table td:before {
    content: attr(data-th) ": ";
    display:block;
    font-weight:bold;
  }
}

