body {
  margin: 100px auto;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 1100px;
  background-color: #FFF8F0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}
/* #header is container for everything above main_content */
#header {
  margin-top: 25px;
  padding: 25px 50px 10px 50px;
}
#header .search {
  vertical-align: top;
  padding-right: 50px;
}
#top_nav {
  padding-top: 10px;
}
#top_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#top_nav li {
  display: inline;
  padding-right: 10px;
  font-size: 1.3rem;
}
#top_nav li .current {
  text-decoration: underline;
}
#top_nav a {
  text-decoration: none;
  color: #474747;
}
#top_nav a .current {
  color: #1b75bc;
  text-decoration: underline;
}
#top_nav a:hover {
  color: #1b75bc;
}
#main_content {
  padding: 0 50px 25px 50px;
  color: white;
}
#main_content a {
  text-decoration: none;
  color: #474747;
}
#main_content a:hover {
  color: #1b75bc;
}
#hero_image {
  box-shadow: 5px 5px 8px gray;
}
#mission_text {
  background-color: #16669b;
  padding: 25px;
  margin-bottom: 1%;
  box-shadow: 5px 5px 8px gray;
}
#top_content_bar {
  background-color: #16669b;
  padding: 10px;
  margin-bottom: 5px;
  box-shadow: 5px 5px 8px gray;
  color: white;
}
#top_content_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#top_content_bar li {
  display: inline;
}
#top_content_bar a {
  color: white;
}
#footer {
  text-align: center;
  padding: 25px 50px 0px 50px;
  height: 100px;
}
#footer .spacer {
  padding-right: 15px;
}
.row {
  margin-bottom: 1%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  box-shadow: 5px 5px 8px gray;
  box-sizing: border-box;
  padding: 0px 15px 10px 15px;
  margin-bottom: 8px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.half {
  width: 49.5%;
}
.two_thirds {
  width: 65.5%;
}
.one_third {
  width: 33.5%;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .left,
  .right {
    width: 100%;
  }
}
/* end columns */
.orange {
  background-color: #f27b38;
}
.light_green {
  background-color: #8db23f;
}
.dark_blue {
  background-color: #193091;
}
.medium_blue {
  background-color: #16669b;
}
.light_blue {
  background-color: #1b75bc;
}
hr {
  margin-bottom: 10px;
  border: 1px solid white;
}
h1 {
  font-size: 2rem;
  margin-bottom: 12px;
  text-align: center;
}
h2 {
  font-size: 1.75rem;
  margin-bottom: 12px;
  text-align: center;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 12px;
  text-align: center;
}
h4 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  text-align: center;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
