body {
  margin: 0 auto;
  padding: 0 50px 0 50px;
  max-width: 1100px;
  background-color: #FFF8F0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer";
}
/* #header is container for everything above main_content */
header {
  grid-area: header;
  margin-top: 25px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 1fr 1fr;
}
header .search {
  justify-self: center;
}
header .logos {
  justify-self: end;
}
nav {
  grid-area: nav;
  margin: 0 5px 0 5px;
  padding-top: 5px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  padding-right: 10px;
  font-size: 1.3rem;
  position: relative;
  padding-bottom: 1rem;
}
nav ul li:hover > ul {
  visibility: visible;
  opacity: 0.9;
  display: block;
}
nav ul li ul {
  background-color: #FFF8F0;
  visibility: hidden;
  min-width: 13rem;
  position: absolute;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  left: 0;
  display: none;
}
nav a {
  text-decoration: none;
  color: #474747;
}
nav a:hover {
  color: #16669b;
}
main {
  grid-area: main;
  color: white;
}
main a {
  text-decoration: none;
  color: #dfeaf5;
}
main a:hover {
  color: #1b75bc;
}
.home {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "mission mission" "col1 col2";
}
.default {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "col1 col2";
}
.mission {
  grid-area: mission;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  padding: 10px;
  margin-bottom: -20px;
}
.mission .staccato {
  word-spacing: 0.4rem;
}
.col1 {
  grid-area: col1;
  padding: 0 10px 10px 10px;
  background-color: #f27b38;
}
.col1 a:link {
  color: #16669b;
}
.col1 a:hover {
  color: white;
}
.col2 {
  grid-area: col2;
  padding: 0 10px 10px 10px;
  background-color: #8db23f;
}
.full {
  padding: 5px 10px;
  background-color: #f27b38;
}
footer {
  grid-area: footer;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  height: 100px;
}
hr {
  margin-bottom: 10px;
  border: 1px solid white;
}
h1 {
  font-size: 2rem;
  margin-bottom: 12px;
  text-align: center;
}
h2 {
  font-size: 1.7rem;
  margin-bottom: 12px;
  text-align: center;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 12px;
  text-align: center;
}
h4 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
table {
  border: 2px solid #193091;
  border-collapse: collapse;
  width: 100%;
}
table th {
  text-align: left;
  border-bottom: 2px solid #193091;
  background-color: #1b75bc;
}
table tr {
  border-bottom: 1px solid #193091;
}
table th,
table td {
  padding: 10px;
}
#breadcrumbs {
  background-color: #16669b;
  padding: 5px;
  box-shadow: 5px 5px 8px gray;
}
#breadcrumbs a {
  color: white;
}
#breadcrumbs a:hover {
  color: #f27b38;
}
.shadow {
  box-shadow: 5px 5px 8px gray;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
.dark_blue {
  background-color: #193091;
}
.medium_blue {
  background-color: #16669b;
}
.light_blue {
  background-color: #1b75bc;
}
.download:after {
  content: "\2B73";
  padding-left: 2px;
  color: white;
}
.past_meetings {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  border: none;
}
.past_meetings tr {
  border-bottom: 1px solid black;
}
.past_meetings tr:last-child {
  border-bottom: none;
}
/* Responsive layout */
@media screen and (max-width: 768px) {
  body {
    padding: 0 25px 0 25px;
  }
  header {
    grid-area: header;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 1fr;
  }
  header .search {
    justify-self: end;
  }
  header .logos {
    display: none;
  }
  .home {
    grid-template-columns: 1fr;
    grid-template-areas: "mission" "col1" "col2";
  }
  .default {
    grid-template-columns: 1fr;
    grid-template-areas: "col1" "col2";
  }
  .mission {
    margin-bottom: 0;
  }
  /* an alternative way to go for a responsive table, instead of using a horizontal scroll bar */
  .responsive_table {
    margin: 0px auto;
  }
  .responsive_table th {
    display: none;
  }
  .responsive_table td {
    display: block;
  }
  .responsive_table td {
    border: none;
  }
  .responsive_table td:first-child {
    padding-top: 0.5em;
  }
  .responsive_table td:last-child {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #193091;
  }
  .responsive_table td:before {
    content: attr(data-th) ": ";
    display: block;
    font-weight: bold;
  }
}
