:root {
  --dark-blue: hsl(229, 71%, 33%);
  --medium-blue: #1b5382;
  --light-blue: #436993;
  --orange: hsl(24, 69%, 46%);
  --dark-gray: hsl(0, 0%, 30%);
  --light-gray: hsl(0, 0%, 60%);
  --lighter-gray: hsl(0, 0%, 80%);
  --lightest-gray: hsl(0, 0%, 90%);
  --table-border-color: var(--light-gray);
  --shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}

.dark-blue {
  background-color: var(--dark-blue);
}
.medium-blue {
  background-color: var(--medium-blue);
}
.light-blue {
  background-color: var(--light-blue);
}
.orange {
  color: var(--orange);
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header" 
    "main" 
    "footer";
  margin: 0 auto;
  padding: 0px;
  background-color: var(--lightest-gray);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh;
}
header {
  display: grid;
  grid-area: header;
  gap: 5px;
  grid-template-areas:
    "left top-right"
    "left mid-right"
    "bottom bottom";
  padding: 10px 80px 5px 80px;
  box-shadow: var(--shadow);
  z-index: 10;
}
.cjtf_logo {
  grid-area: left;
}
header .cjtf_logo img {
  width: 400px;
}
header .search {
  grid-area: top-right;
  justify-self: end;
  align-self: center;
  white-space: nowrap;
}
header .search input {
  width: 300px;
  font-family: "Roboto Thin";
  color: var(--dark-gray);
  font-size: 1.2rem;
  border: 1px solid var(--lighter-gray);
}
header .search form {
  display: inline;
}
header .search img {
  vertical-align: middle;
  height: 1.2rem;
  width: 1.2rem;
}
nav {
  grid-area: bottom;
  margin-top: 11px;
  padding-bottom: 5px;
  margin-left: -7px;
  /* this hides the buttons that close and open the menu in responsive mode */
}
nav button {
  display: none;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  padding-right: 7px;
  font-size: 1.3rem;
  position: relative;
  padding-bottom: 1rem;
  padding-left: 0;
}

nav ul li:not(:last-child):not(:first-child):after {
  content: "|";
  color: var(--light-gray);
  padding-left: 6px;
}
nav ul li:hover > ul {
  visibility: visible;
  opacity: 0.9;
  display: block;
}
nav ul li ul {
  background-color: var(--lightest-gray);
  visibility: hidden;
  min-width: 15rem;
  position: absolute;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  left: 0;
  display: none;
  z-index: 11;
}
nav ul li ul li:not(:last-child):not(:first-child):after {
  content: none;
}
nav a {
  text-decoration: none;
  color: var(--medium-blue);
}
nav a:hover {
  color: var(--orange);
}
nav a.active {
  color: var(--medium-blue);
  font-weight: bold;
}
nav a.active:hover {
  color: var(--medium-blue);
}
main {
  padding: 30px 80px 50px 80px;
  color: var(--lightest-gray);
  background-color: var(--medium-blue);
  box-shadow: var(--shadow);
}
main a {
  text-decoration: underline;
  color: white;
  transition: .2s;
}
main a:hover {
  color: var(--medium-gray);
}
.home {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.home ul {
  margin-bottom: 2rem;
}
.home li {
  margin-bottom: 5px;
}
.box {
  background-color: var(--light-blue);
  padding: 5px 15px 5px 15px;
  box-shadow: var(--shadow);
  border-radius: 10px;
}
.default {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  padding-bottom: 20px;
}
.full {
  grid-area: span 1 / span 2;
}
footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "footer-logos footer-text";
  padding: 25px 80px 25px 80px;
  font-size: .8rem;
}
.footer-logos {
  grid-area: footer-logos;
  display: grid;
  gap: 15px;
  padding-right: 15px;
}
.footer-logos img {
  width: 125px;
}
.footer-text {
  max-width: 500px;
}
.footer-text img {
  padding-right: 5px;
  vertical-align: middle;
  width: 15px;
}
hr {
  margin-bottom: 10px;
  border: 1px solid white;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.3rem;
  margin-bottom: 12px;
}
h3 {
  font-size: 1.1rem;
  margin-top: 0px;
  margin-bottom: 10px;
}
table {
  border-collapse: collapse;
  border: 1px solid var(--table-border-color);  
}
table.resources {
  border: none;
  margin: 0 auto;
  align: left;
}
table tr:last-child {
  border-bottom: none;
}
table th {
  text-align: left;
  background-color: var(--light-blue);
}
table th a {
  color: white;
}
table th.orderable:not(.asc):after {
  content: "\25B4";
}
table th.orderable.asc:after {
  content: "\25B4";
  padding-left: 1px;
  color: var(--orange);
}
table th.orderable.desc:after {
  content: "\25BE";
  padding-left: 1px;
  color: var(--orange);
}
th, td {
  padding: 10px;
}
th, tr {
  border-bottom: 1px solid var(--table-border-color);
}
tr:last-child {
  border-bottom: none;
}
.form_buttons  {
  color: var(--medium-blue);
}
.bold {
  font-weight: bold;
}
.not-bold {
  font-weight: normal;
}
.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
.smaller {
  font-size: .9rem;
}
.bigger {
  font-size: 1.1rem;
}
.errorlist {
  color: var(--orange);
  list-style-type: none;
}
.errorlist > li {
  margin-left: -40px;
}
.required label:after {
  content: "*";
  color: var(--orange);
}
.download:after {
  content: "\2193";
  padding-left: 1px;
  color: hsl(0, 0%, 85%);
  text-decoration: none;
}
.past_meetings {
  margin-top: 20px;
  min-width: 400px;
  width: 100%;
  table-layout: fixed;
  /* float: left; */
}
.past_meetings tr {
  border-top: none;
  border-bottom: none;
}
.past_meetings tr.first {
  border-top: 1px solid var(--table-border-color);
  border-bottom: 1px solid var(--table-border-color);
}
.past_meetings tr.first:not(.current-year):hover {
  background-color: var(--table-border-color);
}
.past_meetings td {
  text-align: right;
}
.past_meetings td.current-year {
  padding: 15px;
  font-weight: bold;
  text-align: left;
}
.past_meetings td:first-child:not(.current-year) {
  text-align: center;
}
.past_meetings tr.first:not(.current-year) td {
  padding: 0;
}
/* classes related to toggle display of prior year meeting info */
.past_meetings .collapsible {
  display: none;
}
button.toggleDisplay {
  border: none;
  text-decoration: none;
  background-color: inherit;
  color: var(--light-blue);
  width: 100%;
  padding: 15px;
  margin: 0;
  text-align: left;
  font-size: 1rem;
}
.toggleDisplay:hover {
  color:white;
}
.toggleDisplay:after {
  content: "\002B";
  color: var(--light-blue);
  font-size: 1.5rem;
  float: right;
  vertical-align: bottom;
  display: inline-block;
}
.toggleDisplay:hover:after {
  color: white;
}
.toggleDisplay:active, .toggleDisplay:focus {
  outline: none;
}
.minus:after {
  content: "\2212";
}
/* end */

.resources {
  float: left;
}
.resources tr {
  border-bottom: 1px solid var(--table-border-color);
}
.resources td[data-th="Product Name"] {
  min-width: 175px;
}
.resources td[data-th="Publication Date"] {
  min-width: 100px;
}
.resources td[data-th="Program Name"] {
  min-width: 200px;
}
.resources td[data-th="Due Date"] {
  min-width: 100px;
}
.resources td[data-th="Source"] {
  min-width: 125px;
}
table.partner_orgs {
  border: 0;
}
table.partner_orgs td {
  width: 50%;
  vertical-align: top;
  padding-left: 0;
}
/* Responsive layout */
@media screen and (max-width: 975px) and (min-width: 768px) {
  header .search input {
    width: 150px;
  }
  main .col1,
  main .col2 {
    padding: 0 20px 10px 20px;
  }
}
@media screen and (max-width: 768px) {
  body {
    grid-template-columns: auto;
    grid-template-areas: 
      "header" 
      "main" 
      "footer";
    padding: 0px;
    margin: 0px;
  }
  header {
    grid-area: header;
    display: grid;
    grid-gap: 0px;
    grid-template-areas: "logo nav";
    padding: 10px 10px 10px 15px;
    margin: 0;
  }
  header .cjtf_logo {
    grid-area: logo;
    padding: 0 10px 0 0;
  }
  header .search {
    display: none;
  }
  nav {
    grid-area: nav;
    align-self: start;
    justify-self: end;
    margin: 0;
    padding: 0;
    z-index: 99;
  }
  nav .opener,
  nav .closer {
    display: block;
    border: none;
    padding: 0 5px 5px 0;
    margin: 0;
    font-size: 2rem;
    background: transparent;
  }
  nav ul {
    display: grid;
    justify-items: end;
    position: fixed;
    right: -4px;
    top: 0;
    width: 0;
    height: 100vh;
    overflow-x: hidden;
    line-height: 1.2;
    font-size: 1rem;
    transition: all 400ms;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 0;
    white-space: nowrap;
    background-color: var(--medium-blue);
    border: 2px solid var(--dark-gray);
    z-index: 99;
  }
  nav ul.show {
    width: 225px;
  }
  nav ul li {
    margin-right: 5px;
    margin-left: 5px;
  }
  nav ul li:not(:last-child):not(:first-child):after {
    content: none;
    padding-left: 0;
  }
  nav ul li:hover > ul {
    display: none;
  }
  nav ul li ul {
    display: hidden;
  }
  nav ul a {
    text-decoration: none;
    color: white;
  }
  nav ul a:hover {
    color: var(--orange);
  }
  nav ul a.active {
    color: var(--orange);
    font-weight: bold;
  }
  nav ul a.active:hover {
    color: var(--orange);
  }
  .home {
    grid-template-columns: 1fr;
    padding: 15px;
  }
  .default {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 15px;
  }
  .col1,
  .col2,
  .full {
    padding: 0 20px 10px 20px;
  }
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 15px;
  }
  .footer-logos {
    display: inline;
    text-align: center;
    padding-bottom: 10px;
  }
  .footer-text {
    max-width: none;
  }
  .past_meetings {
    font-size: 0.8rem;
  }
  .responsive_table th {
    display: none;
  }
  .responsive_table td {
    display: block;
  }
  .responsive_table td:before {
    content: attr(data-th) ": ";
    display: inline;
    font-weight: bold;
  }
  .responsive_table td:first-child {
    padding-top: 15px;
  }
  .responsive_table tr:first-child {
    border-top: 2px solid var(--table-border-color);
  }
}
