{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
  <title>{{ title }}</title>
</head>

<body>

  <header>
    <div class="cjtf_logo"><a href="/"><img src="{% static 'web/images/logo_header.png' %}"></a></div>
    <div class="search">{% include 'web/search_form.html' %}</div>
    <div class="logos" style="text-align:right">
        <a href="https://www.dvrpc.org/">
          <img 
            src="{% static 'web/images/dvrpc_small.png' %}"
            style="padding-bottom:15px">
        </a>
        <a href="https://www.njtpa.org">
          <img src="{% static 'web/images/njtpa_small.png' %}">
        </a>
    </div>
  <nav>
    <button class="opener">&#9776;</button>
    <ul>
      <li><button class="closer">&#215;</button></li>
      <li><a href="{% url 'web:about' %}">About</a></li>
      <li><a href="{% url 'web:membership' %}">Membership</a></li>
      <li><a href="{% url 'web:events_meetings' %}">Events & Meetings</a></li>
      <li><a href="{% url 'web:resources' %}">Resources</a>
        <ul>
          <li><a href="{% url 'web:technical_resources' %}">Technical Resources</a></li>
          <li><a href="{% url 'web:funding_resources' %}">Funding Resources</a></li>
        </ul>
      </li>
      <li><a href="{% url 'web:contact' %}">Contact</a></li>
    </ul>
  </nav>
  </header>
    {% if request.resolver_match.url_name != 'index' %}
      <div id="breadcrumbs">
        {% if request.resolver_match.url_name == 'technical_resources' or request.resolver_match.url_name == 'funding_resources' %}
          <a href="{% url 'web:index' %}">Home</a> &rsaquo;
          <a href="{% url 'web:resources' %}">Resources</a> &rsaquo; {{ title }} 
        {% elif request.resolver_match.url_name == 'event_detail' %}
          <a href="{% url 'web:index' %}">Home</a> &rsaquo;
          <a href="{% url 'web:events' %}">Events & Meetings</a> &rsaquo; {{ title }} 
        {% else %}
          <a href="{% url 'web:index' %}">Home</a> &rsaquo; {{title}}
        {% endif %}
      </div>
    {% endif %} 
    
  {% block main %}

  {% endblock %}

  <footer>
    <a href="https://www.dvrpc.org/">
      <img src="{% static 'web/images/dvrpc_tiny.png' %}" style="padding-right: 15px"></a>
    <a href="https://www.njtpa.org">
      <img src="{% static 'web/images/njtpa_tiny.png' %}"></a>
  </footer>
</body>
<script>
  const openerButton = document.querySelector('.opener');
  const closerButton = document.querySelector('.closer'); 

  function toggleMenu() {
    ulItem = document.querySelector('nav > ul');
    ulItem.classList.toggle('show');
  }

  openerButton.addEventListener('click', toggleMenu);
  closerButton.addEventListener('click', toggleMenu);
</script>
</html>
