{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'web/images/favicon.ico' %}"/>
  <title>{{ title }}</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0JR28GEFRF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-0JR28GEFRF');
  </script>
</head>

<body>
  <header>
    <div class="cjtf_logo"><a href="/"><img src="{% static 'web/images/logo_header.png' %}"></a></div>
    <div class="search">
      {% include 'web/search_form.html' %}
      <img src="{% static 'web/images/magnifying_glass.png' %}" width="15px" height="16px">
    </div>
    <div class="logos">
        <a href="https://www.dvrpc.org/">
          <img src="{% static 'web/images/dvrpc_small.png' %}" style="padding-right: 15px"></a>
        <a href="https://www.njtpa.org"><img src="{% static 'web/images/njtpa_small.png' %}"></a>
    </div>
    <nav>
      <button class="opener">&#9776;</button>
      <ul>
        <li><button class="closer">&#215;</button></li>
        <li>
          <a href="{% url 'web:membership' %}"
          {% if request.resolver_match.url_name == 'membership' %}
            class="active"
          {% endif %}
          >Membership</a>
        </li>
        <li>
          <a href="{% url 'web:events_meetings' %}"
          {% if request.resolver_match.url_name == 'events_meetings' %}
            class="active"
          {% endif %}
          >Events & Meetings</a>
        </li>
        <li>
          <a href="{% url 'web:resources' %}"
          {% if 'resources' in request.resolver_match.url_name %}
            class="active"
          {% endif %}
          >Resources</a>
          <ul>
            <li><a href="{% url 'web:technical_resources' %}">Technical Resources</a></li><br>
            <li><a href="{% url 'web:funding_resources' %}">Funding Resources</a></li><br>
            <li><a href="{% url 'web:partner_orgs' %}">Partner Organizations</a></li><br>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  {% block main %}

  {% endblock %}

  <footer>
    <div class="footer-logos">
      <a href="https://www.dvrpc.org/">
        <img src="{% static 'web/images/dvrpc_small.png' %}"></a>
      <a href="https://www.njtpa.org">
        <img src="{% static 'web/images/njtpa_small.png' %}"></a>
    </div>
    <div class="footer-text">
      The Central Jersey Transportation Forum (CJTF) was formed in 1999 to coordinate planning among municipal and county leaders at the border of the DVRPC and NJTPA metropolitan planning organizations, with the goals of managing growth and increasing mobility throughout the Central Jersey area.
      <br/><br/>
      Contact us at <a href="mailto:cjtf@dvrpc.org">cjtf<span style="display:none">123</span>@dvrpc.org</a>. Follow us on <a href="https://twitter.com/CJTF_NJ">
        <img src="{% static 'web/images/twitter-blue-transparent.png' %}">Twitter</a>.
    </div>
  </footer>
  <script>
    /* responsive mode menu */
    const openerButton = document.querySelector('.opener');
    const closerButton = document.querySelector('.closer');

    function toggleMenu() {
      ulItem = document.querySelector('nav > ul');
      ulItem.classList.toggle('show');
    }

    openerButton.addEventListener('click', toggleMenu);
    closerButton.addEventListener('click', toggleMenu);
  </script>
  <script type="text/javascript" src="{% static 'web/js/collapse.js' %}"></script>
</body>
</html>
