{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}">
  <title>{{ title }}</title>
</head>

<body>

  <header>
    <div class="row">
      <div style="float:left">
        <a href="/"><img src="{% static 'web/images/logo_header.png' %}"></a>
      </div>
      <div style="float:right">
        <span class="search">Search box here</span>
        <div style="float:right" id="top_logos">
          <img src="{% static 'web/images/dvrpc_small.png' %}" style="padding-bottom: 15px">
          <br>
          <img src="{% static 'web/images/njtpa_small.png' %}" style="float: right">
        </div>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'web:about' %}">About</a></li>
        <li><a href="{% url 'web:membership' %}">Membership</a></li>
        <li><a href="{% url 'web:events' %}">Events & Meetings</a></li>
        <li><a href="{% url 'web:resources' %}">Resources</a></li>
        <li><a href="{% url 'web:contact' %}">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div id="breadcrumbs">
      {% if request.resolver_match.url_name != 'index' %}
        {% if request.resolver_match.url_name == 'technical_resources' or request.resolver_match.url_name == 'funding_resources' %}
          <a href="{% url 'web:index' %}">Home</a> &rsaquo;
          <a href="{% url 'web:resources' %}">Resources</a> &rsaquo; {{ title }} 
        {% elif request.resolver_match.url_name == 'event_detail' %}
          <a href="{% url 'web:index' %}">Home</a> &rsaquo;
          <a href="{% url 'web:events' %}">Events & Meetings</a> &rsaquo; {{ title }} 
        {% else %}
          <a href="{% url 'web:index' %}">Home</a> &rsaquo; {{title}}
        {% endif %}
      {% endif %} 
    </div>
    {% block main %}

    {% endblock %}
  </main>

  <footer>
    <img src="{% static 'web/images/dvrpc_tiny.png' %}" class="spacer">
    <img src="{% static 'web/images/njtpa_tiny.png' %}">
  </footer>

</body>
</html>