{% extends "web/base.html" %}

{% block main %}
  <main class="default">
    <div class="col1 box">
      <h2>
        {% if page.title %}
          {{ page.title|safe }}
        {% elif title %}
          {{ title }}
        {% endif %}
      </h2>
      <div>{{ page.main_content|safe }}</div>

      {# Events & Meetings #}
      {% if request.resolver_match.url_name == 'events_meetings' %}
        <br>
        {% if past_meetings %}
          {% regroup past_meetings by date.year as years %}

          <table class="past_meetings">
            {% for year, meeting_list in years %}
              <tr class="year">
                <td class="year">{{year}}</td>
              </tr>
              <tbody>
                {% for meeting in meeting_list %}
                  <tr>
                    <td>{{meeting.date|date:"M"}}</td>
                    <td>
                      {% if meeting.agenda %}
                        <a href="{{ meeting.agenda.url }}" class="not-bold">Agenda</a>↓
                      {% endif %}
                    </td>
                    <td>
                      {% if meeting.minutes %}
                        <a href="{{ meeting.minutes.url }}" class="not-bold">Highlights</a>↓
                      {% endif %}
                    </td>
                    <td>
                      {% if meeting.presentation_materials %}
                        <a href="{{ meeting.presentation_materials.url }}" class="not-bold">
                        Materials</a>↓
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
            {% endfor %}
          </table>
        {% endif %}
    {% endif %}
    </div>
  </main>
{% endblock %}
