{% extends "web/base.html" %}

{% block main %}
  <div class="row">
    <div class="column left two_thirds orange">
      <h2 class="center">{{ page.title|safe }}</h2>
      <div>{{ page.main_content|safe|linebreaks }}</div>
      
      {# Events & Meetings #}
      {% if request.resolver_match.url_name == 'events' %}
        <br>
        <h3 class="center">Upcoming</h3>
        {% if upcoming_events %}
          {% for event in upcoming_events %}
            <p><a href="{% url 'web:event_detail' event.id %}">{{event.title}}</a> - 
              {{event.date}}</p>
          {% endfor %}
        {% else %}
          <p>There are no meetings or events scheduled at this time. Please 
            <a href="/contact">contact the Forum</a> for initial thinking about the next meeting 
            date, which will be posted here once it is set.
          </p>
        {% endif %}
        <br>
        <h3 class="center">Past Forum Meetings</h3>
        {% if past_events %}
          {% for event in past_events %}
            <p>
              <a href="{% url 'web:event_detail' event.id %}">{{event.date|date:"M j, Y" }}</a>
              {% if event.minutes %}
                | <a href="{{ event.minutes.url }}">Minutes/Highlights</a> &#11123;
              {% endif %}
              {% if event.presentation_materials %}
                | <a href="{{ event.presentation_materials.url }}">Presentations/Materials</a> &#11123;
              {% endif %}
            </p>
          {% endfor %}
        {% endif %}
      {% endif %}
    </div>

    <div class="column right one_third light_green">
      {% if page.sidebar %}
        {{ page.sidebar|safe|linebreaks }}
      {% else %}
        <div>
          {# include some default language for sidebar if content not provided in Page in admin #}
          {% if request.resolver_match.url_name == 'about' %}
            {% include 'web/sidebar_about.html' %}
          {% elif request.resolver_match.url_name == 'contact' %}
            {% include 'web/sidebar_contact.html' %}
          {% elif request.resolver_match.url_name == 'events' %}
            {% include 'web/sidebar_events.html' %}
          {% endif %}
        </div>
      {% endif %}    
    </div>
  </div>
{% endblock %}