{% extends "web/base.html" %}

{% block main %}
  <div id="heroimage">
  </div>
  <div id="mission_text">
    Identify. Discuss. Coordinate. Research. Assist. Educate.<br>
    We are the Central Jersey Transportation Forum.
  </div>

  <div class="row">  
    <div class="column left half orange">
      <h2>Updates</h2>
      <ul>
        {% if next_meeting %}
          <li>Next regular meeting of the Forum: 
            <a href="{{ next_meeting.url }}">{{ next_meeting.date }}</a>
          </li>
        {% endif %}

        {% if meetings_updated_minutes %}
          {% for meeting in meetings_updated_minutes %}
            <li><a href="{{meeting.minutes.url}}">Minutes</a> added for the 
              {{ meeting.date|date:"F" }} meeting</a>
            </li>
          {% endfor %}
        {% endif %}

        {% if meetings_updated_presentations %}
          {% for meeting in meetings_updated_presentations %}
            <li><a href="{{meeting.presentation_materials.url}}">Presentation materials</a> 
              added for the {{ meeting.date|date:"F" }} meeting</a>
            </li>
          {% endfor %}
        {% endif %}
        
        {% if tech_resources %}
          {% for resource in tech_resources %}
            <li>Recently published: <a href="{{ resource.url }}">{{ resource.name }}</a></li>
          {% endfor %}
        {% endif %}

        {% if funding_resources %}
          {% for resource in funding_resources %}
            <li>Upcoming funding deadline: <a href="{{ resource.url }}">{{ resource.name }}</a></li>
          {% endfor %}
        {% endif %}

        {% if upcoming_events %}
          {% for event in upcoming_events %}
            <li>Event: <a href="{{ event.url }}">{{ event.title }}</a> ({{event.date}})</li>
          {% endfor %}
        {% endif %}

      </ul>
    </div>
    <div class="column right half light_green">
      <h2>News</h2>
      <p>Twitter feed?</p>
    </div>
  </div>
 
{% endblock %}