{% extends "web/base.html" %}

{% load static %}
{% block main %}
  <main class="home">
    <div class="mission">
      <div id="heroimage">
        <img src="{% static 'web/images/bikes.jpg' %}">
        <img src="{% static 'web/images/bridge.jpg' %}">
        <img src="{% static 'web/images/bus.jpg' %}">
        <img src="{% static 'web/images/speedpost.jpg' %}">
        <img src="{% static 'web/images/crosswalk.jpg' %}">
        <img src="{% static 'web/images/traffic.jpg' %}">
      </div>
      <div class="mission-text">
        Identify. Discuss. Coordinate. Research. Assist. Educate.<br>
        We are the Central Jersey Transportation Forum.
      </div>
    </div>

    <div class="col1">
      <h2>Updated Materials</h2>
        {% if next_meeting %}
          <h3>Next regular meeting of the Forum</h3>
          <div class="box">
            {% if next_meeting.url %}
              <a href="{{ next_meeting.url }}" target="new">{{ next_meeting.date }}</a>
            {% else %}
              {{ next_meeting.date }}
            {% endif %}
          </div>
        {% endif %}

        {% if funding_resources %}
        <h3>Upcoming funding deadlines</h3>
          <div class="box">
            {% if funding_resources|length > 1 %}
              <ul>
                {% for resource in funding_resources %}
                  <li>
                    {% if resource.due_date %}
                      {{resource.due_date}}: <a href="{{ resource.url }}" target="new">{{ resource.name }}</a>
                    {% else %}
                      <a href="{{ resource.url }}" target="new">{{ resource.name }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
                {% if funding_resources.0.due_date %}
                  {{ funding_resources.0.due_date}}: <a href="{{ funding_resources.0.url }}" target="new">{{ funding_resources.0.name }}</a>
                {% else %}
                  <a href="{{ funding_resources.0.url }}" target="new">{{ funding_resources.0.name }}</a>
                {% endif %}
            {% endif %}
          </div>
        {% endif %}

        {% if upcoming_events %}
          <h3>Events</h3>
            {% for event in upcoming_events %}
              <div class="box">
                <h4><a href="{{ event.url }}" target="new">{{ event.title }}</a></h4>
                <p>
                  {{ event.start_date }}
                  {% if event.start_time %}
                    {{ event.start_time }}
                  {% endif %}
                  {% if event.end_date %}
                    - {{ event.end_date }}
                    {% if event.end_time %}
                      {{ event.end_time }}
                    {% endif %}
                  {% endif %}
                </p>
                {{ event.description|safe }}
              </div>
            {% endfor %}
        {% endif %}

        {% if meetings_updated %}
          <h3>Updated meeting materials</h3>
            {% for meeting in meetings_updated %}
              <div class="box">
                {% if meeting.minutes and meeting.presentation_materials %}
                  <a href="{{ meeting.minutes.url }}">Minutes</a> and
                  <a href="{{ meeting.presentation_materials.url }}">Presentation Materials</a>
                {% elif meeting.minutes and not meeting.presentation_materials %}
                  <a href="{{ meeting.minutes.url }}">Minutes</a>
                {% elif not meeting.minutes and meeting.presentation_materials %}
                  <a href="{{ meeting.presetnation_materials.url }}">Presentation Materials</a>
                {% endif %}
                are available for the {{ meeting.date|date:"F Y" }} meeting</a>
              </div>
            {% endfor %}
        {% endif %}

        {% if tech_resources %}
          <h3>Most recent publications</h3>
          {% for resource in tech_resources %}
            <div class="box">
              <h4>
                {% if resource.pdf %}
                  <a href="files/{{ resource.pdf }}" target="new">
                {% elif resource.url %}
                <a href="{{ resource.url }}" target="new">
                {% endif %}
                {{ resource.name }}
                {% if resource.pdf or resource.url %}
                  </a>
                {% endif %}
              </h4>
              <p>{{ resource.publication_date }}</p>
              <p>{{ resource.summary }}</p>
            </div>
          {% endfor %}
        {% endif %}

    </div>
    <div class="col2">
      <h2>News</h2>
      <a
        class="twitter-timeline"
        href="https://twitter.com/cjtf_nj?ref_src=twsrc%5Etfw"
        data-chrome="transparent noborders noheader nofooter"
        data-tweet-limit="3"
        data-aria-polite="assertive"
        data-dnt="true"
        data-theme="dark">
      </a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <p class="center">Follow <a href="https://twitter.com/cjtf_nj" target="new">CJTF</a> on Twitter for more news.</p>
    </div>
  </main>

  {% comment %}
  slider from https://github.com/rchisholm/vanilla-slider, slightly modified so images
  span full viewport width
  {% endcomment %}
  <script type="text/javascript" src="{% static 'web/js/vanilla-slider.js' %}"></script>
  <script>
    var options = {
      transitionTime: 750,
      transitionZoom: 'in',
      arrows:false,
      auto: true,
      autoTime: 6000,
      autoPauseOnHover: false,
    }
    var mySlider = createSlider('heroimage', options);
  </script>
{% endblock %}

