{% extends "web/base.html" %}

{% load static %}
{% block main %}
  <main class="home">
    <div class="mission">
      <div id="heroimage">
        <img src="{% static 'web/images/bikes.jpg' %}" alt="bikes">
        <img src="{% static 'web/images/bridge.jpg' %}" alt="bridges">
        <img src="{% static 'web/images/bus.jpg' %}" alt="bus">
        <img src="{% static 'web/images/speedpost.jpg' %}" alt="speedpost">
        <img src="{% static 'web/images/crosswalk.jpg' %}" alt="crosswalk">
        <img src="{% static 'web/images/traffic.jpg' %}" alt="traffic">
      </div>
      <div class="mission-text">
        Identify. Discuss. Coordinate. Research. Assist. Educate.<br>
        We are the Central Jersey Transportation Forum.
      </div>
    </div>

    <div class="col1">
      <h2>Updated Materials</h2>
        <h3>Next regular meeting of the Forum</h3>
        <p>
          {% if next_meeting %}
            {% if next_meeting.url %}
              <a href="{{ next_meeting.url }}" target="new">{{ next_meeting.date }}</a>
            {% else %}
              {{ next_meeting.date }}
            {% endif %}
          {% else %}
            TBD
          {% endif %}
        </p>

        {% if funding_resources %}
          <h3>Upcoming Funding Deadlines</h3>
          <p>
            {% if funding_resources|length > 1 %}
              <ul>
                {% for resource in funding_resources %}
                  <li>
                    {% if resource.due_date %}
                      <a href="{{ resource.url }}" target="new">{{ resource.name }}</a>: {{ resource.due_date }}
                    {% else %}
                      <a href="{{ resource.url }}" target="new">{{ resource.name }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
                {% if funding_resources.0.due_date %}
                  {{ funding_resources.0.due_date}}: <a href="{{ funding_resources.0.url }}" target="new">{{ funding_resources.0.name }}</a>
                {% else %}
                  <a href="{{ funding_resources.0.url }}" target="new">{{ funding_resources.0.name }}</a>
                {% endif %}
            {% endif %}
          </p>
        {% endif %}

        {% if upcoming_events %}
          <h3>Events</h3>
          <p>
            <ul>
              {% for event in upcoming_events %}
              <li><a href="{{ event.url }}" target="new">{{ event.title }}</a>: {{ event.display_date }}</li>
              {% endfor %}
            </ul>
          </p>
        {% endif %}

        {% if meetings_updated %}
          <h3>Updated Meeting Materials</h3>
          <p>
            <ul>
              {% for meeting in meetings_updated %}
                <li>
                  {% if meeting.minutes and meeting.presentation_materials %}
                    <a href="{{ meeting.minutes.url }}">Highlights</a> and
                    <a href="{{ meeting.presentation_materials.url }}">Presentation Materials</a>
                  {% elif meeting.minutes and not meeting.presentation_materials %}
                    <a href="{{ meeting.minutes.url }}">Highlights</a>
                  {% elif not meeting.minutes and meeting.presentation_materials %}
                    <a href="{{ meeting.presetnation_materials.url }}">Presentation Materials</a>
                  {% endif %}
                  are available for the {{ meeting.date|date:"F Y" }} meeting</a>
                </li>
              {% endfor %}
            </ul>
          </p>
        {% endif %}

        {% if tech_resources %}
          <h3>Most Recent Publications</h3>
          <p>
            <ul>
              {% for resource in tech_resources %}
                <li>
                  {% if resource.pdf %}
                    <a href="files/{{ resource.pdf }}" target="new">{{ resource.name }}</a>
                  {% elif resource.url %}
                    <a href="{{ resource.url }}" target="new">{{ resource.name }}</a>
                  {% endif %}
                  | {{ resource.publication_date }}<br>
                  <span class="smaller italic">{{ resource.summary }}</span>
                </li>
              {% endfor %}
          </p>
        {% endif %}

    </div>
    <div class="col2">
      <h2>News</h2>
      <div style="text-align: left; padding-right: 50px;">
      {% comment %}
      <a
        class="twitter-timeline"
        href="https://twitter.com/cjtf_nj?ref_src=twsrc%5Etfw"
        data-chrome="transparent noborders noheader nofooter"
        data-tweet-limit="10"
        data-aria-polite="assertive"
        data-dnt="true"
        data-theme="dark">
      </a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      {% endcomment %}
      <iframe src="https://alpha.dvrpc.org/twitter/cjtf_nj/index.html?bg=%23c66524&hoverbg=%23c66524&border=%23c66524&links=%23bce6f9&body=%23FFFFFF&heading=%23FFFFFF&subhead=%23FFFFFF" width="100%" frameborder="0" style="height: 1000px"></iframe>
      {% comment %}
      <p class="center">Follow <a href="https://twitter.com/cjtf_nj" target="new">CJTF</a> on Twitter for more news.</p>
      {% endcomment %}

      </div>
    </div>
  </main>

  {% comment %}
    slider from https://github.com/rchisholm/vanilla-slider, slightly modified so images
    span full viewport width
  {% endcomment %}
  <script type="text/javascript" src="{% static 'web/js/vanilla-slider.js' %}"></script>
  <script>
    /* initate slider */
    var options = {
      transitionTime: 750,
      transitionZoom: 'in',
      arrows:false,
      auto: true,
      autoTime: 6000,
      autoPauseOnHover: false,
    }
    var mySlider = createSlider('heroimage', options);
  </script>
{% endblock %}

