{% extends "web/base.html" %}

{% block main %}
  <div class="row">
    <div class="column left two_thirds orange">
      <h2 class="center">Technical Resources</h2>
      {% if resources %}
        {% for category in categories %}
          {{category.1}}
        {% endfor %}

        <div style="margin:15px">
          <table class="responsive_table">
            <tr>
              <th>Product Name</th>
              <th>Publication Date</th>
              <th>Source</th>
              <th>Summary</th>
            </tr>
            {% for resource in resources %}
              <tr>
                <td data-th="Product Name"><a href="{{ resource.url }}">{{resource.name}}</a></td>
                <td data-th="Publication Date">{{resource.publication_date}}</td>
                <td data-th="Source">{{ resource.source }}</td>
                <td data-th="Summary">{{ resource.summary }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% else %}
        <p>There are no technical resources available at this time.</p>
      {% endif %}
    </div>
    <div class="column right one_third light_green">
      <p>{{page.sidebar|safe}}<p>
    </div>
  </div>
{% endblock %}