{% extends "web/base.html" %}
{% load render_table from django_tables2 %}
{% block main %}
  <main class="default">
    <div class="full box">
      {% if request.resolver_match.url_name == 'resources' %}
        <h2>{{ page.title|safe }}</h2>
        {{ page.main_content|safe }}
      {% elif request.resolver_match.url_name == 'technical_resources' %}
        <h2>
        Technical Resources :
        {% if not category %}
          All
        {% elif category == 'regional_plans' %}
          Regional Plans
        {% elif category == 'municipal_tools' %}
          Municipal Tools
        {% elif category == 'research_and_reports' %}
          Research and Reports
        {% endif %}
        </h2>
        <p>
          <a href="{% url 'web:technical_resources' %}">All</a> |
          <a href="{% url 'web:technical_resources' %}?category=regional_plans">Regional Plans</a> |
          <a href="{% url 'web:technical_resources' %}?category=municipal_tools">Municipal Tools</a> |
          <a href="{% url 'web:technical_resources' %}?category=research_and_reports">Research and Reports</a>
        </p>
        {% if resources %}
          {% render_table resources %}
        {% else %}
          <p>There are no
            {% if not category %}
              technical resources
            {% elif category == 'regional_plans' %}
              regional plans
            {% elif category == 'municipal_tools' %}
              municipal tools
            {% elif category == 'research_and_reports' %}
              research and reports
            {% endif %}
          available at this time.</p>
        {% endif %}
      {% elif request.resolver_match.url_name == 'funding_resources' %}
        <h2>Funding Resources</h2>
        {% if resources %}
          {% render_table resources %}
        {% else %}
          <p>There are no current funding opportunities listed. Please check back later, or submit an opportunity by emailing us at <a href="mailto:cjtf@dvrpc.org">cjtf<span style="display:none">123</span>@dvrpc.org</a>.</p>
        {% endif %}
      {% endif %}
    </div>
  </main>
{% endblock %}
