{% extends "web/base.html" %}

{% block main %}
  <div class="row">
    <div class="column left two_thirds orange">
      {% if request.resolver_match.url_name == 'technical_resources' %}
        <h2 class="center">Technical Resources</h2>
        {% if resources %}
          {% for category in categories %}
            {{category.1}}
          {% endfor %}

          <div style="margin:15px">
            <table class="responsive_table">
              <tr>
                <th>Product Name</th>
                <th>Publication Date</th>
                <th>Source</th>
                <th>Summary</th>
              </tr>
              {% for resource in resources %}
                <tr>
                  <td data-th="Product Name"><a href="{{ resource.url }}">{{resource.name}}</a></td>
                  <td data-th="Publication Date">{{resource.publication_date}}</td>
                  <td data-th="Source">{{ resource.source }}</td>
                  <td data-th="Summary">{{ resource.summary }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        {% else %}
          <p>There are no technical resources available at this time.</p>
        {% endif %}
      {% endif %}

      {% if request.resolver_match.url_name == 'funding_resources' %}
        <h2 class="center">Funding Resources</h2>
        
        {% if resources %}
          <div style="margin:15px">
            <table class="responsive_table">
              <tr>
                <th>Program Name</th>
                <th>Due Date</th>
                <th>Source</th>
              </tr>
              {% for resource in resources %}
                <tr>
                  <td data-th="Program Name"><a href="{{ resource.url }}">{{resource.name}}</a></td>
                  <td data-th="Due Date">{{resource.due_date}}</td>
                  <td data-th="Source">{{ resource.source_name }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        {% else %}
          <p>There are no funding resources available at this time.</p>
        {% endif %}
      {% endif %}
    </div>
    <div class="column right one_third light_green">
      {% if page.sidebar %}
        {{ page.sidebar|safe }}
      {% else %}
        {% include 'web/resources_sidebar.html' %}
      {% endif %}
    </div>
  </div>
{% endblock %}