<a href="{% url 'web:technical_resources' %}">Technical Resources</a>
<div style="margin-left:15px">
  &rsaquo; <a href="{% url 'web:technical_resources' %}?category=regional_plans">Regional Plans</a><br>
  &rsaquo; <a href="{% url 'web:technical_resources' %}?category=municipal_tools">Municipal Tools</a><br>
  &rsaquo; <a href="{% url 'web:technical_resources' %}?category=research_and_reports">Research and Reports</a><br>
</div>
<a href="{% url 'web:funding_resources' %}">Funding Resources</a>