<p>The Forum has been meeting since 1999 to address concerns of municipalities in Mercer, 
Middlesex, and Somerset counties focused on the US 1, US 130, and US 206 corridors. High-level 
representatives from 25 municipalities, three counties, numerous state agencies, and other 
organizations meet to coordinate, discuss transportation and land use issues, and implement 
solutions. The Forum is action-oriented, working to implement agreed-upon projects, encourage 
multi-municipal approaches to solve problems, and provide technical assistance to local governments. 
This partnership is facilitated by DVRPC and North Jersey Transportation Planning Authority (NJTPA), 
and coordinated with New Jersey Department of Transportation (NJDOT). The key issues it addresses 
are east-west access; improving coordination of transportation and land use in this high growth, 
congested area; and transit.</p>